article {
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    h4 {
      margin: 1rem;
    }
  }
}

/* ________________________________ Ajustements responsive ___________________________ */
// grands écrans
@media screen and (min-width: 852px) {
  article {
    margin-left: 10rem;
  }
}

// intermédiaire
@media screen and (max-width: 850px) {
  article {
    margin-left: 1rem;
  }
}

// petit
@media screen and (max-width: 695px) {
  article {
    margin-left: 0rem;
  }
}
