article {
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    h4 {
      margin: 1rem;
    }
  }

  p {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.5rem;
  }
}

/* ________________________________ Ajustements responsive ___________________________ */
// grands écrans
@media screen and (min-width: 851px) {
  article {
    margin-left: 10rem;
  }
}

// intermédiaire
@media screen and (max-width: 850px) {
  article {
    margin-left: 1rem;
  }
}

// petit
@media screen and (max-width: 679px) {
  article {
    margin-left: 0rem;
  }
}
