body {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

main {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  hr {
    margin: 0;
  }
}

/* ------------------------------------- Ajustements responsive ------------------------------ */
// grands écrans
@media screen and (min-width: 1201px) {
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

// tablettes, petits écrans
@media screen and (max-width: 1200px) {
  main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
