<section>
  <!-- <p>{{ weatherData | json }}</p> -->
  <p>{{ today }}</p>
  <!-- Temps nuageux -->
  <figure *ngIf="weatherType === 'nuageux'">
    <img src="../../assets/img/nuageux.svg" alt="Temps nuageux" />
  </figure>
  <!-- Temps peu nuageux -->
  <figure *ngIf="weatherType === 'peu nuageux'">
    <img src="../../assets/img/peu-nuageux.svg" alt="Temps peu nuageux" />
  </figure>
  <p>{{ weatherType }}</p>
  <h4>{{ temperature }} °C</h4>
  <h4>Température ressentie : {{ feelsLikeTemperature }} °C</h4>
  <h4>Humidité : {{ humidity }} %</h4>
</section>
