section {
  // background
  background: rgb(172, 82, 221);
  background: linear-gradient(
    180deg,
    rgba(172, 82, 221, 1) 0%,
    rgba(4, 196, 254, 1) 100%
  );
  color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  div {
    text-align: center;
    img {
      width: 15rem;
    }
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h4:first-of-type {
    margin: 0;
    position: relative;
    bottom: 3rem;
  }

  h4 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
