<section>
  <!-- <p>{{ weatherData | json }}</p> -->
  <h3>{{ today }}</h3>
  <!-- Temps nuageux -->
  <div *ngIf="weatherType === 'nuageux'">
    <img src="../../assets/img/nuageux.svg" alt="nuageux" />
  </div>
  <!-- Temps peu nuageux -->
  <div *ngIf="weatherType === 'peu nuageux' && isDay">
    <img src="../../assets/img/peu-nuageux-jour.svg" alt="peu nuageux" />
  </div>
  <div *ngIf="weatherType === 'peu nuageux' && !isDay">
    <img src="../../assets/img/peu-nuageux-nuit.svg" alt="peu nuageux" />
  </div>
  <!-- Ciel dégagé -->
  <div *ngIf="weatherType === 'ciel dégagé' && !isDay">
    <img src="../../assets/img/ciel-degage-nuit.svg" alt="ciel dégagé" />
  </div>
  <!-- <p>{{ weatherType }}</p> -->
  <h4>{{ temperature }} °C</h4>
  <h4>Température ressentie : {{ feelsLikeTemperature }} °C</h4>
  <h4>Humidité : {{ humidity }} %</h4>
</section>
